body {
  background: #242122;
  padding-top: 100px;
  font-family: 'Work Sans', sans-serif;
  color: #f9f9f9; }

p {
  font-family: 'Inconsolata', serif;
  letter-spacing: 1px; }

a {
  color: #8dc63f; }

h2 {
  color: #8dc63f;
  font-size: 1.65em;
  letter-spacing: 3px; }

h4 {
  margin-bottom: 5px; }

h5 {
  color: #8e8d8d;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0; }

h6 {
  font-size: 1em;
  font-family: 'Inconsolata', serif;
  margin-top: 5px; }

.experience {
  color: #f9f9f9;
  font-size: 1.15em;
  font-family: 'Inconsolata', serif;
  letter-spacing: 0.75px; }
  .experience:hover {
    color: #8dc63f; }

.skills-header {
  font-size: 18px;
  font-family: 'Inconsolata', serif; }

.skills-section {
  font-size: 1.15em;
  font-weight: 100; }

.title {
  font-size: 2em; }

.job-details {
  color: #8dc63f;
  margin-top: 10px; }
  .job-details li {
    margin-top: 5px; }

.detail {
  color: #f9f9f9;
  font-size: 1.15em;
  font-weight: 100;
  letter-spacing: 0.75px; }

nav {
  background: #221f20;
  padding: 15px 0; }
  nav a {
    color: #fdfdfd;
    font-weight: 300;
    letter-spacing: 1px; }
  nav .navbar-brand {
    color: #8dc63f;
    font-size: 1.65em;
    font-weight: 600;
    letter-spacing: 5px; }

footer {
  height: 50px;
  margin: 100px 0 10px 0; }

.foot {
  padding: 0;
  margin-top: 50px;
  background: #221f20; }

.footer-nav ul {
  padding: 0; }
  .footer-nav ul li {
    display: inline;
    padding-right: 15px; }

.about-snippet {
  font-size: 1.65em;
  margin: 130px 0 160px 0; }

.strike {
  text-decoration: line-through; }
